In [18]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression, Ridge, Lasso

# Loading results dataframes for use in linear regression modeling
run_data = pd.read_csv("data/stream-data/raw-stream-data/russian.csv")
days_below_32 = pd.read_csv("data/weather-data/KenaiAirport_Days-Below-32F.csv")
summer_mean_temps = pd.read_csv("data/weather-data/KenaiAirport_Summer-Mean-Temps-Yearly.csv")
winter_mean_temps = pd.read_csv("data/weather-data/KenaiAirport_Winter-Mean-Temps-Yearly.csv")

Now that we have our data loaded and the proper modules imported, let's process the Russian
River run datafile to parse out our target output variables (run counts) as well as gather a 
few more potential input variables (effort counts or "angler days").

In [19]:
drop_columns = ['ER  Escapement', 'LR Escapement', 'ER', 'LR']
run_data.drop(columns=drop_columns, inplace=True)
run_data

    Year   Effort  ER Sport LR Sport  ER Local LR Local Total Run
0   1962      ND     3,408    1,292    32,388    20,526    52,914
1   1963    7,880    3,670    1,390    18,050    52,510    70,560
2   1964    5,330    3,550    2,450    16,250    49,380    65,630
3   1965    9,720   10,030    2,160    31,544    23,980    55,524
4   1966   18,280   14,950    7,290    31,608    41,720    73,328
5   1967   16,960    7,240    5,720    20,950    55,200    76,150
6   1968   17,280    6,920    5,820    16,112    54,700    70,812
7   1969   14,930    5,870    1,150    10,870    30,022    40,892
8   1970   10,700    5,750      600    11,201    26,800    38,001
9   1971   15,120    2,810   10,730     5,464    65,151    70,615
10  1972   25,700    5,040   16,050    14,313    95,165   109,478
11  1973   30,690    6,740    8,930    19,860    33,998    53,858
12  1974   21,120    6,440    8,500    19,604    33,404    53,008
13  1975   16,510    1,400    8,390     7,045    40,351    47,396
14  1976   26,310    3,380   13,700    18,116    45,639    63,755
15  1977   69,510   20,400   27,440    36,461    48,802    85,263
16  1978   69,860   37,720   24,530    71,960    58,864   130,824
17  1979   55,000    8,400   26,840    28,149   114,692   142,841
18  1980   56,330   27,220   33,500    55,844   117,484   173,328
19  1981   51,030   10,720   23,720    31,862    68,243   100,105
20  1982   51,480   34,500   10,320    90,606    41,120   131,726
21  1983   31,860    8,360   16,000    29,632    49,734    79,366
22  1984   49,550   35,880   21,970    64,788   114,629   179,417
23  1985   50,770   12,300   58,410    42,905   195,379   238,284
24  1986   52,250   35,100   30,810    71,438    71,091   142,529
25  1987  113,010  154,200   40,580   215,713    94,512   310,225
26  1988   72,030   54,780   19,540   105,186    62,016   167,202
27  1989   60,570   11,290   55,210    26,628   193,587   220,215
28  1990   84,710   30,215   56,180    56,931   139,614   196,545
29  1991   85,741   65,390   31,450    97,779   109,625   207,404
30  1992   60,499   30,512   26,101    67,629    88,685   156,314
31  1993   58,093   37,261   26,772    77,118   126,031   203,149
32  1994   64,134   48,923   26,375    93,795   148,652   242,447
33  1995   48,185   23,572   11,805    52,175    73,787   125,962
34  1996   69,032   39,075   19,136    91,980    53,827   145,807
35  1997   60,923   36,788   12,910    73,068    78,815   151,883
36  1998   56,121   42,711   25,110    76,854   138,590   215,444
37  1999   64,536   34,283   32,335    70,890   172,198   243,088
38  2000   69,864   40,732   30,229    73,468    86,809   160,277
39  2001   55,972   35,400   18,550   113,655    93,514   207,169
40  2002   68,263   52,139   31,999   138,082    94,114   232,196
41  2003   50,448   22,986   28,085    46,636   185,554   232,190
42  2004   60,784   32,727   22,417    89,309   132,661   221,970
43  2005   55,801   37,139   18,503    90,042    77,976   168,018
44  2006   70,804   51,167   29,694   131,691   118,854   250,545
45  2007   57,755   36,805   16,863    64,483    70,229   134,712
46  2008   55,444   42,492   23,680    74,409    70,796   145,205
47  2009   64,518   59,097   33,935   111,818   114,454   226,272
48  2010   39,873   23,412    9,333    51,101    48,427    99,528
49  2011   47,264   22,697   14,412    52,468    56,252   108,720
50  2012   41,152   15,231   15,074    40,213    70,446   110,659
51  2013   59,682    27,162   20,146    63,706   52,286   115,992
52  2014   57,544    35,870   17,864    82,066   70,637   152,703
53  2015   55,420    29,997   13,744    81,212   60,671   141,883
54  2016   39,957    13,086   11,543    52,915   49,966   102,881
55  2017   49,455    27,109   10,592    65,829   55,840   121,669
56  2018   47,186    26,999   15,344    72,800   86,759   159,559